# Global
EZEX_DEVELOPMENT=true

# gRPC
EZEX_GRPC_ADDRESS=0.0.0.0
EZEX_GRPC_PORTS=50051
EZEX_GRPC_ENABLE_REFLECTION=false
EZEX_GRPC_ENABLE_HEALTH=false

# Database
EZEX_DATABASE_HOST=localhost
EZEX_DATABASE_PORT=5432
EZEX_DATABASE_USERNAME=postgres
EZEX_DATABASE_PASSWORD=        # ❗ Set this securely
EZEX_DATABASE_DATABASE=artogenia_dev
EZEX_DATABASE_SSLMODE=disable
EZEX_DATABASE_TIMEZONE=UTC
EZEX_DATABASE_MAX_OPEN_CONNS=25
EZEX_DATABASE_MAX_IDLE_CONNS=5
EZEX_DATABASE_CONN_MAX_LIFETIME=30m

# Logger
EZEX_LOGGER_COLORFUL=true
EZEX_LOGGER_MAX_BACKUPS=0
EZEX_LOGGER_ROTATE_LOG_AFTER_DAYS=1
EZEX_LOGGER_COMPRESS=true
EZEX_LOGGER_TARGETS=console

# Logger Levels (map flattened)
EZEX_LOGGER_LEVELS__REST=info
EZEX_LOGGER_LEVELS__REST_ADMIN=info
EZEX_LOGGER_LEVELS__INTERACTOR=warn
EZEX_LOGGER_LEVELS__DATABASE=warn
EZEX_LOGGER_LEVELS__CACHE=warn
EZEX_LOGGER_LEVELS__TELEGRAM_BOT=warn
EZEX_LOGGER_LEVELS__MATRIX=warn
EZEX_LOGGER_LEVELS__PAYMENT_GATEWAY=warn
EZEX_LOGGER_LEVELS__MIGRATION=info
EZEX_LOGGER_LEVELS__DEFAULT=info
